@use './utils';

.iframe {
	margin: auto;
	width: 100%;
	height: 1000px;
}
.iframe__wrapper {
	margin: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.cta--option1 {
	color: utils.$light-accent;
	background-color: white;
	border: 3px solid utils.$light-accent-opaque;

	&:hover {
		background-color: utils.$light-accent;
		color: white;
		border: 3px solid utils.$light-accent;
	}
}
