@use './utils';
.header__wrapper {
	background-color: utils.$dark-bg;
	padding-top: 3rem;
	padding-inline: 2rem;
	padding-bottom: 2rem;
	justify-items: center;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 1rem;
	text-align: center;
	position: relative;
}

.logo {
	box-shadow: 0px 0px 4px utils.$lighter-bg;
	// border-radius: utils.$std-border;
	z-index: 0;
	&:hover {
		box-shadow: 0px 0px 8px utils.$light-accent;
	}
	position: absolute;
	top: 75px;
	width: 13rem;
}
.title {
	// color: #fff;
	font-size: 2.5rem;
	text-align: left;
	max-width: 200px;
	margin-top: 6rem;
}
.header__text__wrapper {
	flex-direction: column;
	text-align: right;
	font-size: 1.2rem;
}
.header__text {
	// color: #fff;
}
.header__wrapper > div {
	padding: 2rem;
	background-color: utils.$light-bg !important;
}
.header__socials {
}
.header__cta {
	background-color: utils.$light-accent;
	font-weight: 700;
	border: 3px solid utils.$light-accent;
	// border-radius: utils.$std-border;
	color: #fff;
	margin: auto;
	padding: 1.5rem;
	font-size: 1.2rem;
	&:hover {
		background-color: hsla(11, 93%, 25%);
		border: 3px solid hsla(11, 93%, 25%);
	}
}
.header__image {
	opacity: 70%;
	width: 100%;
	justify-self: center;
	box-shadow: 0px 0px 15px white;
}
