@use './utils';
.policies__wrapper {
	background-color: utils.$dark-bg;
	// color: white;
	display: grid;
	right: 0px;
	padding: 0.5rem;
	border: 2px solid (utils.$dark-bg);
	grid-template-rows: -0.8fr 1fr;
	padding-top: 1.5rem;
}
h1.policies__title {
	color: white;
	background-color: utils.$light-accent;
	padding-inline: 2rem;
	max-width: 480px;
	margin-top: 1rem;
	border-radius: 50% 5% 50% 5% / 50% 50% 50% 50%;
	border: none;
	font-family: Nunito, sans-serif;
	grid-column: 1;
	margin: auto;
	font-size: 2rem;
}
.policies__list {
	font-family: nunito, sans-serif;
	font-size: 1.1rem;
	background-color: utils.$lightest-bg;
	padding-top: 1rem;
	padding-right: 1rem;
	max-width: 60ch;
	margin-inline: auto;
	color: utils.$dark-bg;
}
.policies__text--emphasized {
	color: utils.$light-accent;
	font-weight: 700;
}
.policies__thanks,
.policies__intro {
	font-size: 1.5rem;
	text-align: left;
	margin: auto;
	margin-top: 1rem;
	padding: 0rem;
	text-align: left;
	text-decoration: underline;
}
h1.policies__intro {
	margin-top: 0rem;
	margin-bottom: 1rem;
}
